.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* EVENTS CONTAINER VIEW USER'S EVENTS BUTTON */

#view-users-events {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.2em;
}




/* Events */

.eventsContainer {
  margin: 15% auto;
}


/* EVENT INDEX VIEW */
.event-index {
  border: 1px solid black;
  margin: 5%;
  height: 500px;
}

/* Event */

.event {
  border: 1px solid black;
  margin: 10% auto;
  width: 60%;
}

/* Event Categories Container Home page */

.categories-events-container h1 {
  font-size: 4em;
  padding: 50px 100px;
  margin: 0 15% 0 15%;
}

.categories-events-container {
  padding: 5%;
  text-align: center;
}
.events-components {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5% auto;
}

.music-events-container, .food-and-drinks-events-container, .business-events-container {
  /* background() */
    width: 400px;
    height: 300px; 
     border: 1px solid grey;
      margin: 5px;
}

/* Form Styling */

#create-event-input-title-div {
  position: relative;
  top: -40px; 
  font-weight: bolder;
  font-size: 3em;
  background-color: white;
  width: auto;
}

.event-input {
  width: 600px;
  margin: 100px auto;
  padding: 0 60px 60px 60px;
  
  border: 1px solid black;
}

#event-input-name, #event-input-url, #event-input-currency, #event-input-status{
  margin-bottom: 5px;
  display: block;
  width: 245px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

#event-input-description  {
  display: block;
  width: 200px;
}

input#event-input-name, input#event-input-currency {
  margin-right: 5px;
}


label{
  float: left;
}

.event-input-section-1, .event-input-section-2 {
  display: flex;
}

#event-input-description {
  width: 100%;
  height: 250px;
}

.event-dateTime {
  display: flex;
}

input.form-control {
  margin: 25px;
}

#create-event-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

#create-event-btn input[type='button'] {
  font-weight: bold;
}

 /* Signin Form */

 #signup-title, #signin-title, #user-edit-title {
  position: relative; 
  top: -40px; 
  left: 15px;
  font-weight: bolder;
  background-color: white;
  width: 200px;
}

#signup-form, #signin-form, #user-edit-form {
  margin: 10% auto;
  border: 1px solid black;
  min-height: 300px;
  width: 600px;
  padding: 0 0 25px 0;
}

#signup-form-div, #signin-form-div, #user-edit-form-div {
  display: flex;
  flex-direction: column;
  margin: 35px 25px; 
}  


#signup-user_name, #signup-email, #signup-password, #signin-email, #signin-password, #user-edit-email,#user-edit-password {
  margin-bottom: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  height: 40px;
  width: 60%;
  margin: auto;

}

.signup-user-btn, .signin-user-btn, .user-edit-btn {
  width: 60%;
  border-radius: 25px;
  height: 40px;
  font-size: 1.5em;
  font-weight: bolder;
}
 

/* HeartCheckbox Styling */

button.heart-checkbox, button.heart-checkbox::after, button.heart-checkbox::before  {
  background-color: #d9edf7
}


/* Searh Events Input Component*/

#events-search-bar {
  width: 100%;
}

.eventsInputPage {
  position: fixed;
  top: 50px;
  width: 100%;
}

#search-events-btn {
  width: 150px;
  border-radius: 25px;
  height: 40px;
  font-weight: bolder;
  margin-left: 25px;
  margin-top: 10px;
}


#searchTerm, #locationAddress {
  height: 40px;
  margin-top: 20px;
  margin-right: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.eventDate {
  width: 50px;
  margin: 0px;
  display: inline;
  /* position: relative; */
}

.eventDate input{
  display: inline;
  margin: 0px;
  height: 40px;
  margin-top: 20px;
  margin-right: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

/* Movie Component Styling */

.movie-component {
  width: 90%;
  height: 600px;
  border: 1px solid grey;
  margin: 150px auto;
}


/* DateTime  Styling*/
/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

 .form-control {
   width: auto;
   margin: auto;
 }

  /* #eventDate {
    height: 40px;
    margin-top: 10px;
    margin-right: 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  } */

 .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}